name: Run Tests and Update Coverage Badge

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install UV
        uses: astral-sh/setup-uv@v7

      - name: Run Pytest with Coverage
        run: |
          uv run pytest --cov=src --cov-report=term --cov-report=xml

      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch

      - uses: actions/checkout@v1
        with:
          ref: badges
          path: badges

      - name: Create badges dir if necessary
        env:
          BRANCH: ${{ steps.extract_branch.outputs.branch }}
        run: mkdir -p badges/${BRANCH}

      - name: Generate SVG Coverage Badge
        uses: tj-actions/coverage-badge-py@v2
        with:
          output: /tmp/coverage-${{ steps.extract_branch.outputs.branch }}.svg

      - name: Commit badge
        env:
          BRANCH: ${{ steps.extract_branch.outputs.branch }}
        run: |
          pushd badges
              git config --local user.email "action@github.com"
              git config --local user.name "GitHub Action"
              git checkout -- 
              cp "/tmp/coverage-${BRANCH}.svg" "${BRANCH}/badge.svg"
              git add "${BRANCH}/badge.svg"
              git commit -m "Add/Update badge"
          popd

      - name: Push badge commit
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: badges
          directory: badges
