name: Run Tests and Update Coverage Badge

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install UV
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          save-cache: true

      - name: Run Pytest with Coverage
        run: |
          uv sync --locked --dev
          uv run pytest --cov=src --cov-report=term --cov-report=xml

      - name: Extract branch name
        shell: bash
        run: echo "{branch}=$(git branch --show-current)" >> $GITHUB_OUTPUT
        id: extract_branch

      - name: Generate badge
        env:
          BRANCH: ${{ steps.extract_branch.outputs.branch }}
        run: |
          uv run genbadge coverage -i coverage.xml -o /tmp/${BRANCH}-coverage.svg

      - uses: actions/checkout@v1
        with:
          ref: badges
          path: badges

      - name: Commit badge
        env:
          BRANCH: ${{ steps.extract_branch.outputs.branch }}
          BADGE_SOURCE: /tmp/${{ steps.extract_branch.outputs.branch }}-coverage.svg
          BADGE_DEST: badges/${{ steps.extract_branch.outputs.branch }}/coverage.svg
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git checkout -- 
          mkdir "badges/${BRANCH}"
          cp "$BADGE_SOURCE" "$BADGE_DEST"
          git add "$BADGE_DEST"
          git commit -m "Add/Update badge"

      - name: Push badge commit
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: badges
          directory: badges
