name: "Test"

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install Python 3.13
        run: uv python install 3.13
      - name: Sync
        run: uv sync --dev
      - name: Smoke test (wheel)
        run: uv run pytest --cov=eida_statistics_aggregator --cov-report html --cov-report term --cov-report xml:coverage.xml --junitxml=junit.xml
